[submodule "raylib/libs/raylib-rig"]
	path = raylib/libs/raylib-zig
	url = https://github.com/Not-Nik/raylib-zig
[submodule "maihd_cjson_bindings/libs/cjson"]
	path = maihd_cjson_bindings/libs/cjson
	url = https://github.com/maihd/cjson
[submodule "compile_vectormath/libs/vectormath"]
	path = compile_vectormath/libs/vectormath
	url = https://github.com/maihd/vectormath
[submodule "ggml_bindings/lib/ggml"]
	path = ggml_bindings/lib/ggml
	url = https://github.com/ggerganov/ggml
